In [18]:
import pandas as pd
import numpy as np
import time
import os
import glob
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')
import string 
import helper_functions as hf
from haversine import haversine
import numbers

In [2]:
cwd=Path.cwd().resolve().parents[0]

In [5]:
BlogTO = pd.read_csv(os.path.join(cwd, "Data", "BlogTO_mentions.csv"))
print(BlogTO.shape)
BlogTO.head()

(47, 7)

,restaurant,category,stars,location,mention_count,latitude,longitude
0,Tiger Sugar,Bubble Tea,4.0,348A Yonge Street,1,43.658036,-79.381941
1,Chick-fil-A,Fast Food,4.5,709 Yonge Street,11,43.669547,-79.386144
2,Phat Kaphrao,Thai,4.5,3016B Bathurst Street,1,43.717842,-79.429744
3,Azkadenya - Mezza Diner,Middle Eastern,4.5,235 Queen Street West,0,43.650249,-79.388288
4,EAT BKK,Thai,4.5,580 Queen Street W,0,NaN,NaN

In [6]:
subway = pd.read_csv(os.path.join(cwd, "Data", "Torornto_Subway_Station_List.csv"))
print(subway.shape)
subway.head()

(74, 5)

             station  line_number Line_Color   latitude  longitude
0              Finch            1     Yellow  43.782083 -79.416066
1  North York Centre            1     Yellow  43.768595 -79.412732
2     Sheppard-Yonge            1     Yellow  43.761505 -79.410989
3         York Mills            1     Yellow  43.744069 -79.406720
4           Lawrence            1     Yellow  43.726597 -79.402592

In [39]:
def distance_func(location, location_list):
    distance_list=list()
    if isinstance(location[0], numbers.Number) & isinstance(location[1], numbers.Number):
        for loc in location_list:
            if isinstance(loc[0], numbers.Number) & isinstance(loc[1], numbers.Number):
                distance=haversine(location, loc, unit='km')
                distance_list.append(distance)
            else:
                distance_list.append(None)
    else:
        distance_list=[None]*len(location_list)
    return distance_list

In [54]:
radius=1.0 #km
restaurant_dict=dict()
for i in range(0, BlogTO.shape[0]):
    in_range_index=list()
    distances=distance_func(BlogTO.loc[i,["latitude","longitude"]].tolist(),subway[["latitude","longitude"]].values.tolist())

Tiger Sugar
Chick-fil-A
Phat Kaphrao
Azkadenya - Mezza Diner
EAT BKK
Centrale Bergham
Bubble Lee
Xing Fu Tang
Vicino Italian Kitchen
RYUS Noodle Bar
Nani’s Gelato
Bloom
Bluestone Lane
Sisters & Co
Avelo
Buono
The Alley
Roselle West
TRU TEA 初茶
Favorites
Cass Avenue
Boat King of Thai Noodles
Meet Fresh
BAO
L’ARC EN CIEL
Avling Kitchen & Brewery
Mascot Brewery Patio
Hiwa
Kung Fu Tea
Li Bu Gou
Par-Tee Putt
San Coffee Room
The Fourth Man in the Fire
Bar Poet
Gyubee Japanese Grill - Dundas
Project Glyph
Heart Clean Eats
Les epicuriens
The Sweet Oven
Higher
Gong Cha
Xango
est Restaurant
Best istanbul Restaurant
La Diperie
Ronin Izakaya
Jollibee